In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("Data_for_UCI_named.csv")
df.head()

       tau1      tau2      tau3  ...        g4      stab     stabf
0  2.959060  3.079885  8.381025  ...  0.958034  0.055347  unstable
1  9.304097  4.902524  3.047541  ...  0.781760 -0.005957    stable
2  8.971707  8.848428  3.046479  ...  0.109853  0.003471  unstable
3  0.716415  7.669600  4.486641  ...  0.362718  0.028871  unstable
4  3.134112  7.608772  4.943759  ...  0.820923  0.049860  unstable

[5 rows x 14 columns]

In [ ]:
df.shape

(10000, 14)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tau1    10000 non-null  float64
 1   tau2    10000 non-null  float64
 2   tau3    10000 non-null  float64
 3   tau4    10000 non-null  float64
 4   p1      10000 non-null  float64
 5   p2      10000 non-null  float64
 6   p3      10000 non-null  float64
 7   p4      10000 non-null  float64
 8   g1      10000 non-null  float64
 9   g2      10000 non-null  float64
 10  g3      10000 non-null  float64
 11  g4      10000 non-null  float64
 12  stab    10000 non-null  float64
 13  stabf   10000 non-null  object
dtypes: float64(13), object(1)
memory usage: 1.1+ MB

In [ ]:
df.isnull().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [ ]:
df.describe()

               tau1          tau2  ...            g4          stab
count  10000.000000  10000.000000  ...  10000.000000  10000.000000
mean       5.250000      5.250001  ...      0.525000      0.015731
std        2.742548      2.742549  ...      0.274255      0.036919
min        0.500793      0.500141  ...      0.050028     -0.080760
25%        2.874892      2.875140  ...      0.287494     -0.015557
50%        5.250004      5.249981  ...      0.525002      0.017142
75%        7.624690      7.624893  ...      0.762433      0.044878
max        9.999469      9.999837  ...      0.999930      0.109403

[8 rows x 13 columns]

In [ ]:
df=df.drop(columns="stab")

In [ ]:
df.head()

       tau1      tau2      tau3  ...        g3        g4     stabf
0  2.959060  3.079885  8.381025  ...  0.887445  0.958034  unstable
1  9.304097  4.902524  3.047541  ...  0.562139  0.781760    stable
2  8.971707  8.848428  3.046479  ...  0.839444  0.109853  unstable
3  0.716415  7.669600  4.486641  ...  0.929381  0.362718  unstable
4  3.134112  7.608772  4.943759  ...  0.656947  0.820923  unstable

[5 rows x 13 columns]

In [ ]:
df['stabf'].value_counts()

unstable    6380
stable      3620
Name: stabf, dtype: int64

In [ ]:
x=df.drop(["stabf"],axis=1)
y=df["stabf"]

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size=0.2, random_state=1)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train_tranform=scaler.fit_transform(x_train)
x_train_tranform = pd.DataFrame(x_train_tranform,columns=x_train.columns)

In [ ]:
x_train_tranform.head()

       tau1      tau2      tau3  ...        g2        g3        g4
0  0.367327 -0.986042  0.650447  ...  0.339859  0.585568  0.492239
1 -0.064659  0.089437  1.035079  ... -1.558488  1.429649 -1.443521
2 -1.467850  1.298418 -0.502536  ...  1.451534 -1.045743  0.492489
3  0.820081  0.529920  1.299657  ...  1.361958  1.604140  0.275303
4  0.665424 -1.425627  0.312300  ...  0.695660  1.137504 -1.312575

[5 rows x 12 columns]

In [ ]:
x_test_transform=scaler.fit_transform(x_test)
x_test_transform=pd.DataFrame(x_test_transform,columns=x_test.columns)

In [ ]:
x_test_transform.head()

       tau1      tau2      tau3  ...        g2        g3        g4
0  0.592163 -0.420565  1.472472  ...  1.175287 -1.492644  1.086291
1  0.199183  0.364543 -0.190076  ... -0.395949  1.412703  1.227535
2 -1.086035 -0.321834 -0.873505  ... -1.444370  0.654216 -1.679799
3 -0.087014 -1.113357  0.361518  ... -1.679450 -0.349573  1.057439
4  0.873004  1.425833  0.080476  ... -1.475773  0.957057 -0.817608

[5 rows x 12 columns]

In [ ]:
Precision = (355/ ( 355+1480)) 
Recall =  (355 /(355+45)) 
F1_Score = 2 * (Precision*Recall)/(Precision + Recall)
print(round(F1_Score,4))

0.3177

In [ ]:
from sklearn.ensemble import RandomForestClassifier  
rand_c = RandomForestClassifier(random_state=1)
rand_c.fit(x_train_tranform,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [ ]:
pred = rand_c.predict(x_test_transform)

In [ ]:
from sklearn.metrics import recall_score, accuracy_score, precision_score, f1_score, confusion_matrix

round(accuracy_score(y_test, pred), 4)

0.928

In [ ]:
from xgboost import XGBClassifier
xgb = XGBClassifier(random_state =1)
xgb.fit(x_train_tranform, y_train)
xgb_pred = xgb.predict(x_test_transform)

In [ ]:
round(accuracy_score(y_test,xgb_pred),4)

0.919

In [ ]:
import lightgbm as lgbm
lgbm = lgbm.LGBMClassifier(random_state=1)
lgbm.fit(x_train_tranform,y_train)
lgbm_pred  = lgbm.predict(x_test_transform)

In [ ]:
round(accuracy_score(y_test, lgbm_pred),4)

0.9355

In [28]:
from sklearn.ensemble import ExtraTreesClassifier

tree_class = ExtraTreesClassifier (random_state = 1)

In [29]:
n_estimators = [50, 100, 300, 500, 1000]  

min_samples_split = [2, 3, 5, 7, 9]

min_samples_leaf = [1, 2, 4, 6, 8]

max_features = ['auto', 'sqrt', 'log2', None] 

hyperparameter_grid = {'n_estimators': n_estimators,

                       'min_samples_leaf': min_samples_leaf,

                       'min_samples_split': min_samples_split,

                       'max_features': max_features}

In [30]:
from sklearn.model_selection import RandomizedSearchCV
rand = RandomizedSearchCV(estimator = tree_class, param_distributions= hyperparameter_grid, random_state=1,cv = 5, n_iter=10,scoring='accuracy',n_jobs=1, verbose=1)

In [32]:
search = rand.fit(x_train_tranform,y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:  1.9min finished

In [33]:
search.best_params_

{'max_features': None,
 'min_samples_leaf': 8,
 'min_samples_split': 2,
 'n_estimators': 1000}

In [35]:
new_Tree_Class = ExtraTreesClassifier(n_estimators=1000, min_samples_split=2, 
                                 min_samples_leaf=8, max_features=None)
new_Tree_Class.fit(x_train_tranform, y_train)
new_Tree_Class = new_Tree_Class.predict(x_test_transform)

In [55]:
from sklearn.metrics import classification_report
print(classification_report(y_test,new_Tree_Class, digits=4))
print("Accuracy score {}".format(accuracy_score(y_test, new_Tree_Class)))

              precision    recall  f1-score   support

      stable     0.9214    0.8722    0.8961       712
    unstable     0.9314    0.9589    0.9449      1288

    accuracy                         0.9280      2000
   macro avg     0.9264    0.9155    0.9205      2000
weighted avg     0.9278    0.9280    0.9275      2000

Accuracy score 0.928

In [40]:
feature_importance = search.best_estimator_.feature_importances_
print ( feature_importance)

[0.13723975 0.1405075  0.13468029 0.13541676 0.00368342 0.00533686
 0.00542927 0.00496249 0.10256244 0.10757765 0.11306268 0.10954089]

In [47]:
sorted (zip(feature_importance,x), reverse = True)

[(0.14050750384993677, 'tau2'),
 (0.13723974766109256, 'tau1'),
 (0.1354167630909727, 'tau4'),
 (0.13468028520386593, 'tau3'),
 (0.11306267999167334, 'g3'),
 (0.10954089174337298, 'g4'),
 (0.10757764577478764, 'g2'),
 (0.10256244080927947, 'g1'),
 (0.005429268421191957, 'p3'),
 (0.005336864710946151, 'p2'),
 (0.004962486591192238, 'p4'),
 (0.003683422151688322, 'p1')]