In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error

In [2]:
# Importing the data-set
df = pd.read_csv('energydata_complete.csv')

In [3]:
# Preview data
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [4]:
# check data shapes
df.shape

(19735, 29)

In [5]:
# check for types of data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [6]:
# Check if there missing values in data
df.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [7]:
# Data Summary
df.describe()

         Appliances        lights  ...           rv1           rv2
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean      97.694958      3.801875  ...     24.988033     24.988033
std      102.524891      7.935988  ...     14.496634     14.496634
min       10.000000      0.000000  ...      0.005322      0.005322
25%       50.000000      0.000000  ...     12.497889     12.497889
50%       60.000000      0.000000  ...     24.897653     24.897653
75%      100.000000      0.000000  ...     37.583769     37.583769
max     1080.000000     70.000000  ...     49.996530     49.996530

[8 rows x 28 columns]

Q12

In [8]:
#Temperature in living room x=T6 and Temperature outside the building y=T2
y = df.T6
x = df.T2
X = np.array(x).reshape(-1, 1)

In [9]:
#Spliting our dataset into training and testing dataset, Using 70-30 train-test set split with a random state of 42.
train_X, val_X, train_y, val_y = train_test_split(X, y, test_size = 0.3, random_state = 42)
# Instantiate model
model_df = LinearRegression()
#fit the model to the training dataset
model_df.fit(train_X, train_y)
#obtain predictions
predic_val =model_df.predict(val_X)

In [10]:
#Calculate the r2 score 
r_square = r2_score(val_y, predic_val)
r_square.round(2)

0.64

Q13

In [11]:
#normalise dataset to a common scale using the min max scaler
scaler=MinMaxScaler()
df_1 = df.drop(columns = ['date', 'lights'])
normalised_df = pd.DataFrame(scaler.fit_transform(df_1), columns=df_1.columns)
features_df = normalised_df.drop(columns=['Appliances' ])
target_var = normalised_df[ 'Appliances' ]

In [12]:
#Spliting our dataset into training and testing dataset, Using 70-30 train-test set split with a random state of 42.
train_X, val_X, train_y, val_y = train_test_split(features_df, target_var, test_size = 0.3, random_state = 42)
model_df = LinearRegression()

In [13]:
# Instantiate model
model_df1 = LinearRegression()
#fit the model to the training dataset
model_df1.fit(train_X, train_y)
#obtain predictions
predicted_values = model_df1.predict(val_X)

In [14]:
#Calculate MAE
mae = mean_absolute_error(val_y, predicted_values)
round(mae, 2 )

0.05

Q14

In [15]:
#Residual sum of squares
rss = np.sum(np.square(val_y - predicted_values))
round(rss, 2 )

45.35

Q15

In [16]:
#Calculate the root mean squared error
RMSE = np.sqrt(mean_squared_error(val_y,predicted_values))
round(RMSE,3)

0.088

Q16

In [17]:
#Coefficient of determinant
R2_score = r2_score(val_y,predicted_values)
round(R2_score,2)

0.15

Q17

In [18]:
def get_weights_df(model, feat, col_name):
#this function returns the weight of every feature
 weights = pd.Series(model.coef_, feat.columns).sort_values()
 weights_df = pd.DataFrame(weights).reset_index()
 weights_df.columns = ['Features', col_name]
 weights_df[col_name].round(3)
 return weights_df
linear_model_weights = get_weights_df(model_df1, train_X, 'Linear_Model_Weight')

In [19]:
linear_model_weights

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

Q18

In [20]:
#Ridge Regression
# Instantiate model
ridge_reg = Ridge(alpha = 0.4)
# Instantiate model
ridge_reg.fit(train_X, train_y)
#obtain predictions
predic = ridge_reg.predict(val_X)

In [21]:
#Calculate the root mean squared error
Rmse = np.sqrt(mean_squared_error(val_y, predic))
round(Rmse,3)

0.088

Q19

In [22]:
#Initiating the Lasso Model[alpha = 0.001]
lasso = Lasso(alpha=0.001)
#Fitting the lasoo model
lasso.fit(train_X,train_y)
#Making Predictions
lasso_pred = lasso.predict(val_X)
lasso_weights_df = get_weights_df(lasso, train_X, 'Lasso_weight')
lasso_weights_df

       Features  Lasso_weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

In [23]:
# Non-zero weights
non_zero = lasso_weights_df[lasso_weights_df['Lasso_weight'] != 0]
non_zero

     Features  Lasso_weight
0      RH_out     -0.049557
1        RH_8     -0.000110
24  Windspeed      0.002912
25       RH_1      0.017880

Q20

In [24]:
#Making Predictions
predic_lasso = lasso.predict(val_X)
#Calculate the root mean squared error
Rmse = np.sqrt(mean_squared_error(val_y, predic_lasso))
Rmse.round(3)

0.094